In [1]:
import pandas as pd

In [2]:
# oob_orig = pd.read_csv('oob_pca_inst.csv')
# oob_weight = pd.read_csv('weights_oob_glom.csv')
orig = pd.read_csv('inst.csv')
weight = pd.read_csv('weights_glom.csv')

In [4]:
# print(oob_orig.shape, oob_weight.shape)
print(orig.shape, weight.shape)

(936, 319) (936, 4)

In [5]:
# oob_orig.head()
orig.head()

,inst,bag,case,label,feat1,feat2,feat3,feat4,feat5,feat6,...,feat306,feat307,feat308,feat309,feat310,feat311,feat312,feat313,feat314,feat315
0,10_S_3_0.jpeg,1,1,CTR,0.76374,0.29191,0.046722,233040,3820.30,297.0,...,100.660,140.340,168.830,190.920,208.680,225.990,241.960,255.340,268.34,288.34
1,10_S_3_1.jpeg,1,1,CTR,0.76065,0.31171,0.049396,481020,2109.70,424.5,...,171.880,246.630,295.980,343.030,384.650,418.630,446.500,466.710,484.43,508.43
2,10_S_3_2.jpeg,1,1,CTR,0.71368,0.37529,0.066800,98261,1213.10,230.0,...,68.448,98.957,116.950,133.020,146.080,157.650,167.400,176.430,187.14,203.61
3,10_S_3_3.jpeg,1,1,CTR,0.77691,0.28980,0.033200,191120,1375.00,323.0,...,115.630,164.630,195.310,228.990,258.490,275.800,291.690,304.990,317.97,338.99
4,10_S_3_0.jpeg,1,1,CTR,0.75604,0.29954,0.047077,16827,494.91,130.0,...,25.719,42.270,50.719,59.979,69.719,79.049,87.757,96.748,105.21,112.72

In [5]:
oob_weight.head()

   bag                inst    weight
0   19  V29_S_4_001_0.jpeg  0.314353
1   19  V29_S_4_001_1.jpeg  0.065629
2   19  V29_S_4_001_2.jpeg  0.024685
3   19  V29_S_4_001_3.jpeg  0.080817
4   19  V29_S_4_001_4.jpeg  0.013553

In [28]:
# weight= weight.drop('Unnamed: 0', axis = 1)

In [8]:
result = pd.merge(oob_orig[['bag', 'inst', 'case']], oob_weight, on = ['inst', 'bag'])

In [9]:
result = result.drop_duplicates()

In [10]:
result.shape

(414, 4)

In [33]:
result.groupby('bag')['weight'].sum()

bag
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0
10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
30    1.0
31    1.0
32    1.0
33    1.0
34    1.0
35    1.0
36    1.0
37    1.0
38    1.0
39    1.0
40    1.0
41    1.0
42    1.0
43    1.0
44    1.0
45    1.0
46    1.0
47    1.0
48    1.0
49    1.0
50    1.0
51    1.0
52    1.0
53    1.0
54    1.0
55    1.0
56    1.0
Name: weight, dtype: float64

In [11]:
result.to_csv('weights_glom_w_inst.csv')